<!--eko-dom -->
<%= google_analytix_adds -%>
<!--topmenu-->
<div id="topmenu">
  <%= link_to('', '/', :id => 'home', :title => t('general.main')) -%>
  <%= link_to('',  '/about',     :id => 'about', :title => t('general.about_project')) -%>
  <%= link_to('', '/solutions', :id => 'solutions', :title => t('general.solutions')) -%>
  <%= link_to('', '/services', :id => 'services', :title => t('general.services')) -%>
  <%= link_to('', '/partners', :id => 'partners', :title => t('general.partners')) -%>
  <%= link_to('', '/contacts', :id => 'contacts', :title => t('general.contacts')) -%>
</div>


