<div style="max-width: 400px;">{{footer_google_search_form}}</div>
<div class="c small"><%= show_sape_links(2) -%></div>
<!--Tags -->
<div class="pad5" style="clear: both;">
  <% tagged_links.each do |tag| -%>
    <%= link_to "#{tag.name} [#{tag.count}]", tagging_url(:tag_name=>tag.name),:rel=>'tag',:class=>"s#{rand(9)}" -%>
  <% end unless controller.class.name.eql?('ProgectController') -%>
</div>
<%= online %>
<!--Counters and Alalytix-->
<div id="flinks" class="c">
  <!-- GOOGLE stats -->
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    var pageTracker = _gat._getTracker('<%= Appl.config['google_analytix_uid'] %>');
    pageTracker._initData();
    pageTracker._trackPageview();
  </script>
  <noindex>{{counter_buttons}}</noindex>
</div>

<div class="c small">
  <%= link_to(t('general.about_project'), progect_url(:action => 'about')) -%>
  <%= t('general.if_have_questions_contact_to')+' '+mail_to("Voloshin Ruslan <#{Appl.config['admin_email']}>", "support", :encode => "hex") -%><br/>
  <%= link_to(Appl.config['domain'], "http://#{Appl.config['domain']}/", :title => Appl.config['site_name']) -%>
  Copyright &copy; 2007 - 2009
</div>
<div id="foter-bg">&nbsp;</div>
